@import './tokens';


@mixin submit-button() {
    font-family: $font-family-sans-reg;
    font-size: $font-size-1;
    letter-spacing: 0.25px;
    line-height: 18px;
    font-weight: 500;
    color: $white-primary;
    background: $blue-primary;
    border-radius: 6px;
    height: 25px;
    margin-left: 24px;
    align-self: center;
    border: none; 
  }