@import './tokens'; 

.table-pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 84%; 
  
    .paging-status {
      color: $black-primary;
      padding-top: 4px;
      padding-right: 8px;
    }

    .pagination{
        width: 20px; 
        height: 20px;
        color: $black-primary; 
    }
  
}
  