/**** Colors ****/
$white-primary: #f5f5f5;
$white-secondary: #ffffff; 
$black-primary: #121315;
$blue-primary: #06a7e2;
$green-primary: rgb(145, 184, 145);
$red-error: #ed3838;
/**** Fonts ****/
$font-family-sans-reg: 'Averta-Regular', 'Averta';
$font-size-1: 12px;
$font-size-2: 20px;
$font-weight-1: 600; 

/**** Shadows ****/
$box-shadow-reg: 0px 0px 10px rgba(0, 0, 0, 0.1);
